*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

app/google-services.json
/.idea/sonarIssues.xml
.idea/sonarlint/*
.idea/caches/
.idea/shelf/