language: android
sudo: false
jdk: oraclejdk8

addons:
  sonarcloud:
    organization: "xrahul-github" # the key of the org you chose at step #3
    token:
      secure: "BWTgn3Zl95cgzIiWB99Jyog3/FkjwxARVjvKSCOgtiYnyzJclRekJXli6E8E/cVjxYB9TJgVywsS7p0cEGTkuCdbW9QjLpVYCxUFdMZJ5aBZkf0MmgpqPLjKQ1dyczWhf+6y5R7e5XhGbJt1WMgFveB9LSEVqdBZvzOJG8NDi6PPk0nzxvXffzE0pVTCnLX98ET1M5z5QHy+M8vwO0rf7lRTmJxoiUGFzhz2gl4Z4P1Iigh9nJnVaWletmO0UjoTuCI0EqoOYOKGLFzTqgKL5WaExnWUScqps9OzmxCFm7HdL9F9nPS0pwzk6+FR6bd7SaP8DHnZslRx8khyxon0wqNqmhfri9B5yhpzHw5ZIuMXm9MNcHiSGegIejHmjGxiowPQslwNDIT2+Gh+bZEkxUBJhLBynRYQJD3Xl0aBdfYB2yJ2Q4MKiMbNSDxPW3yJoIETGB5AACPEk3RT+wFYCG0TueuiRMips0qkiJoqfKzCBAdeWwusQFkRZa5nFMiTiyHSMsQ7WKCs0IB7kSppsZJChQ4UvzcRG928XDKPqql5z/S3gtKzQY0fEchqMwDsFI0nTsAel+wII+PLxYgv2bpifxZOZv1FkRhFb8ZerDeqMtJQDfE1DLhrPlXnxqHfVkwBo2ciQ44rPVvlwNJor/tOaEwsbDniarrU5GVPl7I="

android:
  components:
# Uncomment the lines below if you want to
# use the latest revision of Android SDK Tools
    - tools
    - platform-tools
    - tools

#    The BuildTools version used by your project
    - build-tools-29.0.2

#    The SDK version used to compile your project
    - android-29


    - extra
    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository
    - addon-google_apis-google-29
    - addon-google_apis-google-24
    - add-on
    - addon

#     Specify at least one system image,
#     if you need to run emulator(s) during your tests
#    - sys-img-arm64-v8a-google_apis-27
#    - sys-img-armeabi-v7a-google_apis-27

before_install:
- yes | sdkmanager "platforms;android-29"
- chmod +x gradlew

before_script:
  - cp app/google-services\ \(demo\).json app/google-services.json
#  - android update sdk --no-ui --filter build-tools-27.0.3,android-27,extra-android-m2repository
#  - echo no | android create avd --force -n test -t "android-27" --abi armeabi-v7a --tag google_apis
#  - emulator -avd test -no-skin -no-audio -no-window &
#  - android-wait-for-emulator
#  - adb shell input keyevent 82 &

script:
  - ./gradlew assemble
  - ./gradlew clean build
  - ./gradlew build check
  - ./gradlew sonarqube

cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'
    - '$HOME/.gradle'
    - '.gradle'
    - '$HOME/.android/build-cache'

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/