<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.rahulja.ficsavemiddleware">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <application
      android:name=".FicsaveMiddlewareApplication"
      android:allowBackup="true"
      android:fullBackupContent="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      android:networkSecurityConfig="@xml/network_security_config">

    <activity
        android:name=".MainActivity"
        android:launchMode="singleInstance">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <data android:mimeType="text/*"/>
      </intent-filter>
      <intent-filter android:label="@string/filter_title_open_ficsave_site">
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <!-- Accepts URIs that begin with "http://ficsave.xyz” -->
        <data
            android:host="ficsave.xyz"
            android:scheme="http"/>
        <!-- note that the leading "/" is required for pathPrefix -->
      </intent-filter>
    </activity>
    <activity
        android:name=".FicSettingsActivity"
        android:label="@string/title_fic_activity_settings"/>
    <activity android:name=".TermsActivity"/>
    <activity android:name=".DownloadHistoryActivity"/>
  </application>

</manifest>